.nav {
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 90px;
  background-color: #4056A1;
  
  color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.nav__secondary {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.nav_secondary__description {
  margin: 0;
  padding: 0;
}

.nav__header {
  font-family: 'Bungee', sans-serif; 
  color: #FFFFFF; 
}

.nav__secondary__icon {
  color: red;
}

nav span {
  font-family: 'Bungee', sans-serif; 
  color: #FFFFFF; 
}

.header {
  height: 520px;
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #FEBE10;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  margin-left: 5%;
}

.header:hover {
  box-shadow: 10px 5px 5px #FEBE10;
}


.header__image {
  display: block;
}

.header__name {
  color: white;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5em;
}